<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="15">
    <title>MadProbe - Service availability</title>
    <style>
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }

        .card {
            display: inline-block;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 30%;
            border-radius: 5px;
            margin: 10px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        img {
            border-radius: 5px 5px 0 0;
        }

        .container {
            padding: 2px 16px;
        }
    </style>
</head>
<body>
<div class="center">
    {{ range $key, $value := . }}
        <div class="card">
            <img src="https://picsum.photos/seed/{{ $key }}/500" alt="Random picture" style="width:100%">
            <div class="container">
                <h4><b>{{ $key }}</b></h4>
                <p>{{ $value }}</p>
            </div>
        </div>
    {{ end }}
</div>
</body>
</html>